In [1]:
print('Hello, Python.')

Hello, Python.

In [2]:
1+2

3

In [3]:
3-4

-1

In [4]:
5*6

30

In [5]:
2**3

8

In [6]:
7/8

0.875

In [7]:
10%3

1

In [8]:
10//3

3

In [9]:
1.0e7

10000000.0

In [10]:
1.0e-7

1e-07

In [11]:
print(0.123)
print(.123)

0.123
0.123

In [12]:
1+2+3

6

In [13]:
1+2*3

7

In [14]:
(1+2)*3

9

In [15]:
type(1)

int

In [16]:
type(1.0)

float

In [17]:
type(1+1.0)

float

In [18]:
'文字列はシングルクオーテーションで括ります。'

'文字列はシングルクオーテーションで括ります。'

In [19]:
"これはダブルクオーテーションでも可です。"

'これはダブルクオーテーションでも可です。'

In [20]:
くくるのを忘れるとエラーになります。

SyntaxError: invalid character in identifier (<ipython-input-20-b68c17c19c0b>, line 1)

In [21]:
"I'm learning Python now"

"I'm learning Python now"

In [22]:
'私は今"Python"を学んでいます'

'私は今"Python"を学んでいます'

In [23]:
"私は"+"今"+"Python"+"を"+"学んで"+"います"+"。"

'私は今Pythonを学んでいます。'

In [24]:
'Python'*5

'PythonPythonPythonPythonPython'

In [25]:
str(2017)

'2017'

In [26]:
print(2017+'年')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
print(str(2017)+'年')

2017年

In [28]:
int("2017")

2017

In [29]:
float("2017")

2017.0

In [30]:
"私は今'Python'を学んでいます。"

"私は今'Python'を学んでいます。"

In [31]:
print("私は今'Python'を学んでいます。")

私は今'Python'を学んでいます。

In [32]:
'私は今Pythonを学んでいます｡'
'頑張ります｡'
'機械学習の講座が楽しみです｡'

'機械学習の講座が楽しみです｡'

In [33]:
print('私は今Pythonを学んでいます｡')
print('頑張ります｡')
print('機械学習の講座が楽しみです｡')

私は今Pythonを学んでいます｡
頑張ります｡
機械学習の講座が楽しみです｡

In [34]:
print(2000+17)

2017

In [35]:
print("2017"+"年")

2017年

In [36]:
print(2017,9,1)

2017 9 1

In [37]:
#コメントは行頭を"#"にして記述
print("コメントはコードには影響しません")

コメントはコードには影響しません

In [38]:
"""
多数の行にわたるコメントは
3重のクオーテーションで
くくるのがよいでしょう｡
"""
print('コメントはコードに影響しません｡')

コメントはコードに影響しません｡

In [39]:
# 多数の行にわたるコメントは
# 3重のクオーテーションで
# くくるのがよいでしょう｡
print("コメントはコードに影響しません｡")

コメントはコードに影響しません｡

In [40]:
message="私はPythonを学んでいます。"

In [42]:
message

'私はPythonを学んでいます。'

In [43]:
number=5

In [44]:
number

5

In [45]:
new_message1=message+"頑張ります。"
new_message1

'私はPythonを学んでいます。頑張ります。'

In [46]:
new_message2=message*3
new_message2

'私はPythonを学んでいます。私はPythonを学んでいます。私はPythonを学んでいます。'

In [47]:
number=number+1
number

6

In [48]:
number=number*2

In [49]:
number

12

In [50]:
num_1=10
num_1=num_1+5
print(num_1)

15

In [51]:
num_1=10
num_1=+5
print(num_1)

5

In [52]:
month=9
day=1
temp=30
"{}月{}日の気温は{}度です。".format(month,day,temp)

'9月1日の気温は30度です。'

In [53]:
decimal=10/3

In [54]:
decimal

3.3333333333333335

In [55]:
'小数点第2位まで表示すると{:.2f}になります。'.format(decimal)

'小数点第2位まで表示すると3.33になります。'

In [56]:
print('小数第2位まで表示すると%.2fになります。'%decimal)

小数第2位まで表示すると3.33になります。