In [1]:
a=1
b=2
c=3

In [2]:
a==1

True

In [3]:
b==1

False

In [4]:
a!=1

False

In [5]:
b!=1

True

In [6]:
a>1

False

In [7]:
a<2

True

In [8]:
a>=1

True

In [9]:
a<=1

True

In [13]:
(a<b) and (b<c)

True

In [14]:
(a<b)or(b>c)

True

In [15]:
not(a>b)

True

In [16]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f']

In [17]:
'c'in alphabet

True

In [18]:
'g'in alphabet

False

In [21]:
money=500
if money>=100:
    money-=100
money

400

In [23]:
money=75 
if money>=100:
    money-=100
else: 
    print('帰ります。')
money

帰ります。

75

In [24]:
money=75
if money>=100:
    money-=100
elif money>=50:
    money-=50
else:
    print('帰ります。')
money

25

In [37]:
members = ['田中一郎', '佐藤二郎', '鈴木三郎']

for name in members:
    print(name)

田中一郎
佐藤二郎
鈴木三郎

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

In [40]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [41]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [42]:
members = ['田中一郎', '佐藤二郎', '鈴木三郎']
menu = ['肉', '野菜', '魚']
for food, name in zip(menu, members):
    print("{}さんは{}を食べます。".format(name, food))

田中一郎さんは肉を食べます。
佐藤二郎さんは野菜を食べます。
鈴木三郎さんは魚を食べます。

In [43]:
members = ['田中一郎', '佐藤二郎', '鈴木三郎']
for i, name in enumerate(members):
    print('会員NO.{}:'.format(i)+name)

会員NO.0:田中一郎
会員NO.1:佐藤二郎
会員NO.2:鈴木三郎

In [44]:
members = ['田中一郎', '佐藤二郎', '鈴木三郎']
for i, name in zip(range(3), members):
    print('会員NO.{}:'.format(i)+name)

会員NO.0:田中一郎
会員NO.1:佐藤二郎
会員NO.2:鈴木三郎